body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

img {
  display: inline-block;
  max-width: 100%;
}
.thumb {
  width: 100%;
  height: 480px;
}
.thumb img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section {
  position: relative;
  padding-top: 68px;
}

.nav-item {
  text-align: left;
}

h1, h2, h3, h4, h5 ,h6 {
  font-weight: 600;
}

.container-form {
  max-width: 600px;
}

.cards-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

@media screen and (max-width: 1024px){
  .thumb {
    height: 280px;
  }

  .section {
    padding-top: 55px;
  }

}
